HERMES_UID=1000
HERMES_GID=1000
HERMES_API_KEY=change.your.pass
PG_PASSWORD=change.your.pass
LM_API_KEY=change.your.key
OPENAI_API_KEY=change.your.key
OPENAI_MODEL=change.your.key
ANTHROPIC_API_KEY=change.your.key