HERMES_UID=1000
HERMES_GID=1000
HERMES_API_KEY=change.your.pass
PG_PASSWORD=change.your.pass
DASHBOARD_USERNAME=change.your.id
DASHBOARD_PASSWORD=change.your.pass
LM_API_KEY=change.your.key
LM_BASE_URL=http://localhost:1234
OPENAI_API_KEY=change.your.key
OPENAI_MODEL=change.your.key
ANTHROPIC_API_KEY=change.your.key